head
  meta(charset='utf-8')
  link(rel='icon' href='/favicon.png' type='image/png')
  title Video Studio
  script(src='https://josephanimate2021.github.io/lvm-static/api/jquery/index.js')
  script(src='https://josephanimate2021.github.io/static/55910a7cd204c37c/go/js/studio.js.gz.js')
  style.
    html, body {
    background: #696969;
    margin: 0px;
    }
    /**
    main
    **/
    main {
    padding: 0;
    }
    /**
    character page stuff
    **/
    #character_studio,
    #character_browser {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    /* character studio */
    #character_studio {
    width: 960px;
    height: 600px;
    }
    /* character browser */
    #character_browser {
    width: 100%;
    height: 100%;
    }
    /**
    other pages
    **/
    #video_studio,
    #video_player {
    width: 100%;
    height: 100%;
    }
    #preview_player {
    height: 360px;
    width: 640px;
    display: block;
    margin: auto;
    }
    /**
    popups
    **/
    /* popup */
    #preview_popup,
    .preview_popup,
    #import_popup {
    position: absolute;
    background: #f2f7fc;
    top: 50%;
    left: 50%;
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: 0 8px 12px 2px #00000065;
    color: #525a6b;
    }
    /* preview popup */
    .preview_popup,
    #preview_popup {
    margin: -225px 0 0 -360px;
    }
    /* import popup */
    #import_popup {
    margin: -154px 0 0 -220.5px;
    }
    #preview_popup h2,
    #import_popup h2  {
    margin: 0px 0px 15px;
    font-weight: 400;
    }
    /* popup container */
    #preview_popup_container,
    .preview_popup_container,
    #import_popup_container {
    background: #00000082;
    position: fixed;
    width: 100%;
    height: 100%;
    }
    /* close button */
    .close-button {
    position: absolute;
    top: 10px;
    right: 40px;
    color: #4f5b93;
    }
    /**
    form stuff
    **/
    .button_import {
    background: #4f5b93;
    border: 1px solid #8892bf;
    border-radius: 3px;
    padding: 4px 10px;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    }
    ::-webkit-file-upload-button {
    background: #4f5b93;
    border: 1px solid #8892bf;
    border-radius: 3px;
    padding: 4px 10px;
    color: #fff;
    }
// Asset Importer
#import_popup_container(style='display:none')
  #import_popup
    h2#import-an-asset Import an Asset
    a.close-button(onclick='hideImporter()') X
    // Import form
    #import_image
      button(onclick="document.getElementById('import_as').style.display = 'block'") Upload An Asset As...
      p
        | Because everything else is in beta, 
        br
        | prop uploading is only supported. 
        br
        | no worries, everything else is bound to come soon.
      #import_as(style='display:none')
        center
          button(onclick="document.getElementById('import_as').style.display = 'none'") &uarr;
        br
        button(onclick="document.getElementById('holdable').click()") Holdable Prop
        br
        br
        button(onclick="document.getElementById('headable').click()") Headable Prop
        br
        br
        button(onclick="document.getElementById('wearable').click()") Wearable Prop
        br
        br
        button(onclick="document.getElementById('placeable').click()") Other Prop
        form(enctype='multipart/form-data' style='display:none' action='/upload_prop' method='post' target='dummy')
          input#placeable(type='file' onchange='this.form.submit()' name='import' accept='.png,.jpg')
        form(enctype='multipart/form-data' style='display:none' action='/upload_prop_holdable' method='post' target='dummy')
          input#holdable(type='file' onchange='this.form.submit()' name='import' accept='.png,.jpg')
        form(enctype='multipart/form-data' style='display:none' action='/upload_prop_headable' method='post' target='dummy')
          input#headable(type='file' onchange='this.form.submit()' name='import' accept='.png,.jpg')
        form(enctype='multipart/form-data' style='display:none' action='/upload_prop_wearable' method='post' target='dummy')
          input#wearable(type='file' onchange='this.form.submit()' name='import' accept='.png,.jpg')
// Video Previewer
#preview_popup_container(style='display:none')
  #preview_popup
    h2#preview-video Preview Video
    a.close-button(href='javascript:hidePreviewer()') X
    object#preview_player(data='/static/animation/player.swf' type='application/x-shockwave-flash')
      // The flashvars are a huge mess, have fun looking at them. :)
      param(name='flashvars' value='apiserver=/&storePath=/static/store/<store>&ut=30&clientThemePath=/static/<client_theme>&isInitFromExternal=1&isWide=1&startFrame=1&autostart=1')
      param(name='allowScriptAccess' value='always')
      param(name='allowFullScreen' value='true')
#video-tutorial.preview_popup_container(style='display:none')
  .preview_popup
    h2 &nbsp;
    .preview_player
      #wistia_player.wistia_embed(style='width:640px;height:360px') &nbsp;
    a.close-button(href='javascript:hideTutorial()') X
// Video Studio
main#studio_holder
  object#video_studio(data='/static/animation/go_full.swf' type='application/x-shockwave-flash')
    // The flashvars are a huge mess, have fun looking at them. :)
    param(name='flashvars' value=flashvars)
    param(name='allowScriptAccess' value='always')
    param(name='allowFullScreen' value='true')
// Keeps the page from reloading on form submission
iframe(style='display:none' name='dummy')
script.
  ////
  //// This JS contains important Video Studio stuff
  ////
  ///
  /// Variables
  ///
  var previewPlayerTempData = "";
  const fu = document.getElementById('fileupload'),
  sub = document.getElementById('submit');
  ///
  /// Previewer
  ///
  function initPreviewPlayer(dataXmlStr, startFrame, containsChapter, themeList) {
  // New variable to be used by loadPreviewer()
  movieDataXmlStr = dataXmlStr;
  // Movie XML
  filmXmlStr = dataXmlStr.split("<filmxml>")[1].split("</filmxml>")[0];
  // Show preview popup
  $("#preview_popup_container").show();
  // Load the Video Previewer
  loadPreviewer();
  }
  function loadPreviewer() {
  // I think this is in case of an error??
  if (movieDataXmlStr === null) {
  return;
  }
  // I don't know
  savePreviewData(movieDataXmlStr);
  }
  function savePreviewData(a) {
  // Set temp data variable
  previewPlayerTempData = a
  }
  function retrievePreviewPlayerData() {
  // Store in separate variable
  var recentPreviewPlayerTempData = previewPlayerTempData;
  // Clear original variable
  previewPlayerTempData = "";
  // Return recent temp data
  return recentPreviewPlayerTempData;
  }
  ///
  /// Importing
  ///
  // Show upload window
  function showImporter() {
  $("#import_popup_container").show();
  };
  ///
  /// Other stuff
  ///
  function exitStudio() {
  window.location = "/";
  }
  // interactive tutorial
  interactiveTutorial.isShowTutorial = false;
  function tutorialStarted() {
  }
  function tutorialStep(sn) {
  }
  function tutorialCompleted() {
  $.ajax({
  type: 'POST',
  url: '/ajax/tutorialStatus/completed'
  });
  }
  // Hide Video Previewer popup
  function hidePreviewer() {
  $("#preview_popup_container").hide();
  }
  function hideTutorial() {
  $("#video-tutorial").hide();
  }
  // Hide Asset Importer popup
  function hideImporter() {
  $("#import_popup_container").hide();
  }
  var videoTutorial = new VideoTutorial($("#video-tutorial"));
  VideoTutorial.tutorials.composition = {
  title: 'Composition Tutorial',
  wistiaId: 'nuy96pslyp',
  };
  VideoTutorial.tutorials.enterexit = {
  title: 'Enter and Exit Effects Tutorial',
  wistiaId: 'fvjsa3jnzc',
  }
script(charset='ISO-8859-1' src='//fast.wistia.com/assets/external/E-v1.js' async='')